body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

.header {
    background-color: aqua;
    width: 20vw;
    height: 100vh;
    position: sticky;
    overflow-y: auto;
    z-index: 0;
    transition: .9s;
}

.icon-menu {
    background-color: rgba(68, 68, 68, 0.3);
    position: fixed;
    left: 1%;
    top: 2%;
    border-radius: 100px;
    padding: 10px;
    cursor: pointer;
    z-index: 3;
}

.header-oculto {
    width: 0vw;
    transition: 1.2s;
}

.main {
    background-color: antiquewhite;
    width: 100vw;
    position: relative;
    border: 2px solid red;
    flex-wrap: nowrap;
    overflow-y: auto;
}

.contenido {
    margin-bottom: 100px;
}

.footer {
    background-color: rgba(136, 136, 136, 0.926);
    color: white;
    height: 20%;
    margin-bottom: 20px;
    /* position: absolute; */
    /* top: 90vh; */
}


/* libros */


/* descuento */

.descuento {
    position: absolute;
    left: 80%;
    /* top: 10px; */
    border: 1px solid white;
    width: 0px;
    height: 80px;
    border-left: 20px solid red;
    border-right: 20px solid blue;
    border-bottom: 30px solid yellow;
    display: flex;
}